In [190]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/book-recommendation-dataset/Ratings.csv
/kaggle/input/book-recommendation-dataset/Users.csv
/kaggle/input/book-recommendation-dataset/classicRec.png
/kaggle/input/book-recommendation-dataset/Books.csv
/kaggle/input/book-recommendation-dataset/DeepRec.png
/kaggle/input/book-recommendation-dataset/recsys_taxonomy2.png

In [191]:
books = pd.read_csv('/kaggle/input/book-recommendation-dataset/Books.csv')
ratings = pd.read_csv('/kaggle/input/book-recommendation-dataset/Ratings.csv')
users = pd.read_csv('/kaggle/input/book-recommendation-dataset/Users.csv')

/tmp/ipykernel_48/409789061.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/kaggle/input/book-recommendation-dataset/Books.csv')

In [192]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [193]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [194]:
users.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [195]:
books.info()
ratings.info()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [196]:
books.shape

(271360, 8)

In [197]:
ratings.shape

(1149780, 3)

In [198]:
users.shape

(278858, 3)

In [199]:
ratings_users = ratings.merge(users, on = 'User-ID')

In [200]:
ratings_users.shape

(1149780, 5)

In [201]:
book_df = books.merge(ratings_users, on = 'ISBN')

In [202]:
book_df.shape

(1031136, 12)

In [203]:
book_df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",NaN

In [204]:
book_df.isna().mean()*100

ISBN                    0.000000
Book-Title              0.000000
Book-Author             0.000194
Year-Of-Publication     0.000000
Publisher               0.000194
Image-URL-S             0.000000
Image-URL-M             0.000000
Image-URL-L             0.000388
User-ID                 0.000000
Book-Rating             0.000000
Location                0.000000
Age                    26.944554
dtype: float64

In [205]:
null_counts = book_df.isna().sum()
cols_with_nulls = null_counts[null_counts > 0].index.tolist()
cols_with_nulls = [col for col in cols_with_nulls if col != 'Age']

print(f"Columns with nulls: {cols_with_nulls}")

Columns with nulls: ['Book-Author', 'Publisher', 'Image-URL-L']

In [206]:
book_df = book_df.dropna(subset = cols_with_nulls)

In [207]:
book_df.isna().mean()*100

ISBN                    0.000000
Book-Title              0.000000
Book-Author             0.000000
Year-Of-Publication     0.000000
Publisher               0.000000
Image-URL-S             0.000000
Image-URL-M             0.000000
Image-URL-L             0.000000
User-ID                 0.000000
Book-Rating             0.000000
Location                0.000000
Age                    26.944569
dtype: float64

In [208]:
age_mean = book_df['Age'].mean()

In [209]:
book_df['Age'] = book_df['Age'].fillna(age_mean)

In [210]:
book_df.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
User-ID                0
Book-Rating            0
Location               0
Age                    0
dtype: int64

In [211]:
book_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.000000
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",37.397669
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.000000
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",37.397669
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",37.397669

In [212]:
book_df.shape

(1031128, 12)

In [213]:
book_df.duplicated().sum()

0

# **Popular Books Using Normal Average**

In [214]:
book_num_ratings = book_df.groupby('Book-Title').count()['Book-Rating'].reset_index()
book_num_ratings.rename(columns = {'Book-Rating' : 'Number of Ratings'}, inplace = True)
book_num_ratings

                                               Book-Title  Number of Ratings
0        A Light in the Storm: The Civil War Diary of ...                  4
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Ask Lily (Young Women of Faith: Lily Series, ...                  1
4        Beyond IBM: Leadership Marketing and Finance ...                  1
...                                                   ...                ...
241060                                      Ã?Â?lpiraten.                  2
241061                     Ã?Â?rger mit Produkt X. Roman.                  4
241062                                Ã?Â?sterlich leben.                  1
241063                              Ã?Â?stlich der Berge.                  3
241064                                  Ã?Â?thique en toc                  2

[241065 rows x 2 columns]

In [215]:
book_avg_ratings = book_df.groupby('Book-Title')['Book-Rating'].mean().reset_index()
book_avg_ratings.rename(columns = {'Book-Rating' : 'Average of Ratings'}, inplace = True)
book_avg_ratings

                                               Book-Title  Average of Ratings
0        A Light in the Storm: The Civil War Diary of ...            2.250000
1                                   Always Have Popsicles            0.000000
2                    Apple Magic (The Collector's series)            0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...            8.000000
4        Beyond IBM: Leadership Marketing and Finance ...            0.000000
...                                                   ...                 ...
241060                                      Ã?Â?lpiraten.            0.000000
241061                     Ã?Â?rger mit Produkt X. Roman.            5.250000
241062                                Ã?Â?sterlich leben.            7.000000
241063                              Ã?Â?stlich der Berge.            2.666667
241064                                  Ã?Â?thique en toc            4.000000

[241065 rows x 2 columns]

In [216]:
popular_books = book_num_ratings.merge(book_avg_ratings, on = 'Book-Title')
popular_books

,Book-Title,Number of Ratings,Average of Ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241060,Ã?Â?lpiraten.,2,0.000000
241061,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241062,Ã?Â?sterlich leben.,1,7.000000
241063,Ã?Â?stlich der Berge.,3,2.666667
241064,Ã?Â?thique en toc,2,4.000000

In [217]:
popular_books = popular_books[popular_books['Number of Ratings'] >= 200].sort_values('Average of Ratings', ascending = False).reset_index()

In [218]:
popular_books

,index,Book-Title,Number of Ratings,Average of Ratings
0,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
1,80419,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
2,80438,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
3,80423,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
4,60579,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639
...,...,...,...,...
292,27599,Breathing Lessons,239,2.117155
293,94379,Isle of Dogs,288,2.000000
294,162149,Slow Waltz in Cedar Bend,248,1.895161
295,163909,Songs in Ordinary Time (Oprah's Book Club (Pap...,232,1.857759
296,234945,Wild Animus,2502,1.019584

In [219]:
books = popular_books.merge(book_df, on = 'Book-Title')

In [220]:
books

,index,Book-Title,Number of Ratings,Average of Ratings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,254,9,"minneapolis, minnesota, usa",24.0
1,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,1903,0,"hualien, taiwan, taiwan",36.0
2,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,2033,9,"omaha, nebraska, usa",27.0
3,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,3300,10,"cabot, arkansas, usa",49.0
4,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,4802,7,"london, england, united kingdom",28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99240,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,275793,0,"alanta, georgia, usa",38.0
99241,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276113,7,"&#321;ód&#378;, &#322;ódzkie, poland",21.0
99242,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276147,0,"genova, liguria, italy",26.0
99243,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276487,0,"teruel, aragon, spain",21.0
99244,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276641,0,"porto, porto, portugal",25.0

In [221]:
books.duplicated(subset = 'Book-Title').sum()

98948

In [222]:
books.drop_duplicates(subset = 'Book-Title')

,index,Book-Title,Number of Ratings,Average of Ratings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,80431,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,254,9,"minneapolis, minnesota, usa",24.000000
428,80419,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,254,9,"minneapolis, minnesota, usa",24.000000
815,80438,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,254,9,"minneapolis, minnesota, usa",24.000000
1093,80423,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,276788,7,"mentone, california, usa",37.397669
1440,60579,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639,0312853238,Orson Scott Card,1992,Tor Books,http://images.amazon.com/images/P/0312853238.0...,http://images.amazon.com/images/P/0312853238.0...,http://images.amazon.com/images/P/0312853238.0...,728,0,"welsh, louisiana, usa",37.397669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95736,27599,Breathing Lessons,239,2.117155,042511774X,Anne Tyler,1994,Berkley Publishing Group,http://images.amazon.com/images/P/042511774X.0...,http://images.amazon.com/images/P/042511774X.0...,http://images.amazon.com/images/P/042511774X.0...,277195,0,"san francisco, california, usa",54.000000
95975,94379,Isle of Dogs,288,2.000000,0425182908,Patricia Cornwell,2002,Berkley Publishing Group,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,278390,4,"elburn, illinois, usa",35.000000
96263,162149,Slow Waltz in Cedar Bend,248,1.895161,0446601640,Robert James Waller,1994,Warner Books,http://images.amazon.com/images/P/0446601640.0...,http://images.amazon.com/images/P/0446601640.0...,http://images.amazon.com/images/P/0446601640.0...,278418,0,"omaha, nebraska, usa",37.397669
96511,163909,Songs in Ordinary Time (Oprah's Book Club (Pap...,232,1.857759,0140244824,Mary McGarry Morris,1996,Penguin Books,http://images.amazon.com/images/P/0140244824.0...,http://images.amazon.com/images/P/0140244824.0...,http://images.amazon.com/images/P/0140244824.0...,278106,9,"west carrollton, ohio, usa",37.397669
96743,234945,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276925,0,"barcelona, barcelona, spain",22.000000

# **Bayesian Average Formula**

In [223]:
# C = The average rating across ALL books in the dataset
# (Note: Use your main ratings DataFrame here, not the grouped one)
C = book_df['Book-Rating'].mean()

# m = The minimum number of ratings to be considered.
# We'll use 200 as you suggested. This is our "gatekeeper" threshold.
m = 200

print(f"Global Average Rating (C): {C}")
print(f"Minimum Ratings (m): {m}")

#Get 'v' (vote count) and 'R' (average) for each book ---

# Group by ISBN to get the count (v) and mean (R) for each book
book_stats = book_df.groupby('ISBN')['Book-Rating'].agg(['count', 'mean'])
book_stats.rename(columns={'count': 'v', 'mean': 'R'}, inplace=True)

# Apply the Bayesian Average Formula ---

def weighted_rating(row, m, C):
    v = row['v'] # Number of ratings for this book
    R = row['R'] # Average rating for this book
    
    return (v / (v + m)) * R + (m / (v + m)) * C

book_stats['Weighted Rating'] = book_stats.apply(weighted_rating, args=(m, C), axis=1)
top_books = book_stats.sort_values('Weighted Rating', ascending=False)

book_info = book_df.drop_duplicates(subset='ISBN')
top_books = top_books.merge(book_info, on='ISBN')

print("\n--- Top Books by Weighted Rating ---")
print(top_books[['Book-Title', 'v', 'R', 'Weighted Rating']].head(10))

Global Average Rating (C): 2.8390316236199578
Minimum Ratings (m): 200

--- Top Books by Weighted Rating ---
                                          Book-Title     v         R  \
0       Harry Potter and the Goblet of Fire (Book 4)   194  6.541237
1  Harry Potter and the Prisoner of Azkaban (Book 3)   197  6.467005
2   Harry Potter and the Chamber of Secrets (Book 2)   170  6.611765
3  Harry Potter and the Order of the Phoenix (Boo...   334  5.571856
4     Harry Potter and the Sorcerer's Stone (Book 1)   168  6.363095
5  Harry Potter and the Sorcerer's Stone (Harry P...   571  4.900175
6                                  The Da Vinci Code   883  4.652322
7                          The Lovely Bones: A Novel  1295  4.468726
8                              To Kill a Mockingbird   389  4.920308
9  Harry Potter and the Prisoner of Azkaban (Book 3)   226  5.345133

   Weighted Rating
0         4.661945
1         4.639311
2         4.572450
3         4.548326
4         4.447843
5         4.365508
6         4.317457
7         4.250707
8         4.213593
9         4.168559

In [224]:
# Sort by the new 'Weighted Rating' column
top_books = book_stats.sort_values('Weighted Rating', ascending=False)

In [225]:
# Make sure your book_df has no duplicate ISBNs
book_info = book_df.drop_duplicates(subset='ISBN')

# Merge to get the book information
top_books = top_books.merge(book_info, on='ISBN')

In [226]:
top_books[['Book-Title', 'Book-Author', 'Weighted Rating', 'v', 'R']].duplicated().sum()

1712

In [227]:
top_books = top_books.drop_duplicates(subset=['Book-Title'])

top_books.duplicated(subset=['Book-Title']).sum()

0

In [228]:
top_books

,ISBN,v,R,Weighted Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0439139597,194,6.541237,4.661945,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,254,9,"minneapolis, minnesota, usa",24.000000
1,0439136350,197,6.467005,4.639311,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,254,9,"minneapolis, minnesota, usa",24.000000
2,0439064864,170,6.611765,4.572450,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,276929,0,"collex, geneva, switzerland",35.000000
3,043935806X,334,5.571856,4.548326,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,276788,7,"mentone, california, usa",37.397669
4,0590353403,168,6.363095,4.447843,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,254,9,"minneapolis, minnesota, usa",24.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270136,0425133540,149,1.610738,2.314631,The Sum of All Fears (Jack Ryan Novels),Tom Clancy,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425133540.0...,http://images.amazon.com/images/P/0425133540.0...,http://images.amazon.com/images/P/0425133540.0...,277639,0,"forsyth, montana, usa",48.000000
270138,0140244824,232,1.857759,2.312052,Songs in Ordinary Time (Oprah's Book Club (Pap...,Mary McGarry Morris,1996,Penguin Books,http://images.amazon.com/images/P/0140244824.0...,http://images.amazon.com/images/P/0140244824.0...,http://images.amazon.com/images/P/0140244824.0...,278106,9,"west carrollton, ohio, usa",37.397669
270139,1401088945,68,0.735294,2.305247,Ground Zero and Beyond,J. P. McCarthy,2003,Xlibris Corporation,http://images.amazon.com/images/P/1401088945.0...,http://images.amazon.com/images/P/1401088945.0...,http://images.amazon.com/images/P/1401088945.0...,12538,0,"byron, minnesota, usa",18.000000
270141,0425147363,134,1.440299,2.277863,Tom Clancy's Op-Center (Tom Clancy's Op Center...,Tom Clancy,1995,Berkley Publishing Group,http://images.amazon.com/images/P/0425147363.0...,http://images.amazon.com/images/P/0425147363.0...,http://images.amazon.com/images/P/0425147363.0...,277639,8,"forsyth, montana, usa",48.000000
270143,0971880107,2502,1.019584,1.154258,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276925,0,"barcelona, barcelona, spain",22.000000

# **Collaborative Filtering**

In [229]:
book_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.000000
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",37.397669
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.000000
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",37.397669
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",37.397669
...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463,7,"providence, rhode island, usa",26.000000
1031132,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579,4,"orem, utah, usa",12.000000
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680,0,"hopewell junction, new york, usa",55.000000
1031134,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680,0,"hopewell junction, new york, usa",55.000000
1031135,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680,0,"hopewell junction, new york, usa",55.000000

In [271]:
users_ratings = book_df.groupby('User-ID').count()['Book-Rating'] > 100
users_ratings = users_ratings[users_ratings].index

In [280]:
users_ratings

Index([   254,    507,    882,   1424,   1435,   1733,   1903,   2033,   2110,
         2276,
       ...
       275020, 275970, 276463, 276680, 277427, 277478, 277639, 278137, 278188,
       278418],
      dtype='int64', name='User-ID', length=1648)

In [275]:
book_num_ratings = book_df.groupby('Book-Title')['Book-Rating'].count() > 100
famous_books = book_num_ratings[book_num_ratings].index

In [276]:
famous_books

Index(['1984', '1st to Die: A Novel', '24 Hours', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       ...
       'Without Remorse', 'Wizard and Glass (The Dark Tower, Book 4)',
       'Women Who Run with the Wolves',
       'Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=904)

In [285]:
# 1. Filter the original book_df to create a new one
#    This keeps only the rows that are in *both* of your lists
filtered_df = book_df[
    book_df['Book-Title'].isin(famous_books) &
    book_df['User-ID'].isin(users_ratings)
]

# 2. Now, create your pivot table from this new *filtered* DataFrame
book_pivot = filtered_df.pivot_table(
    index='Book-Title',
    columns='User-ID',
    values='Book-Rating'
).fillna(0)

# 3. Display your new, filtered pivot table
book_pivot

User-ID,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [297]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(book_pivot)
similarity

array([[1.        , 0.06550754, 0.00972232, ..., 0.07547772, 0.05810769,
        0.03029366],
       [0.06550754, 1.        , 0.07202902, ..., 0.04739871, 0.13548709,
        0.12388301],
       [0.00972232, 0.07202902, 1.        , ..., 0.02856084, 0.04972988,
        0.01222063],
       ...,
       [0.07547772, 0.04739871, 0.02856084, ..., 1.        , 0.05583662,
        0.0137213 ],
       [0.05810769, 0.13548709, 0.04972988, ..., 0.05583662, 1.        ,
        0.09410287],
       [0.03029366, 0.12388301, 0.01222063, ..., 0.0137213 , 0.09410287,
        1.        ]])

In [314]:
def recommend(book_title):
    index = np.where(book_pivot.index == book_title)[0][0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    for i in distances[1:6]:
        print(book_pivot.index[i[0]])

In [317]:
recommend('Harry Potter and the Prisoner of Azkaban (Book 3)')

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))